#senpai1{
width: 200px;
  padding: 50px;
  margin: 20px;
  font-size: 20px;
  
  
}

#senpai2{
    width: 200px;
    padding: 50px;
    margin: 20px;
    font-size: 20px;
    
}

#box1{
    width: 300px;
    padding: 50px;
    margin: 20px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}




